@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}
body {
	line-height: 1;
	font-family: "Montserrat";
	color: #333333;
	--yellow: #fed100;
	--red: rba(255, 53, 43, 1);
	--white: #fff;
	--orange: rgba(255, 119, 43, 1);
}
a {
	text-decoration: none;
}
ul {
}
li {
	list-style: none;
}
.wrapper {
	background-color: #fed100;
	width: 1920px;
	height: 650px;
	left: 0px;
	top: 0px;
}
.header__logo {
	padding-left: 309px;
	width: 115px;
	height: 50px;
	background-color: #fed100;
}
.header__container {
	display: flex;
	gap: 131px;
	align-items: center;
	min-width: 152px;
	background-color: #fed100;
}
.header__movee {
	padding-left: 309px;
	padding-top: 40px;
	width: 115px;
	height: 37px;
	left: 309px;
	color: #333333;
	font-weight: 600;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	gap: 56px;
}
.menu__item {
}
.menu_link {
	width: 53px;
	height: 22px;
	left: 738px;
	top: 48px;
	color: #333333;
}
.leftSidebar {
	padding-top: 141px;
	padding-left: 303px;
	width: 480px;
	height: 138px;
	left: 303px;
	top: 141px;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	color: #333333;
}
.text1 {
	padding-left: 307px;
	padding-top: 307px;
	font-size: 30px;
	width: 1920px;
	height: 32px;
	background-color: #fed100;
}
.button {
	border: #ff352b;
}
.button1 {
	display: block;
	width: 304px;
	height: 60px;
	left: 307px;
	top: 389px;
	background: #ff352b;
	box-shadow: 10px 5px #fed100;
	border-color: #ff352b;
}
.button1:hover {
	background-color: var(--orange);
}
.text {
	color: white);
}
.banner__pluses {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.banner_image {
	max-width: 35rem;
}
.banner_image img {
	width: 100%;
	height: 100%;
}