@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	font-size: 1rem;
	line-height: 1;
	font-family: "Montserrat", san-serif;
	--yellow: #fed100;
	--red: #ff352b;
	--white: #f2f2f2;
	--orange: rgba(255, 119, 43, 1);
	--black: #000;
	--orange2: #ff772b;
	background-color: var(--yellow);
}
nav,
li,
ul {
	text-decoration: none;
	list-style-type: none;
}

.wrapper {
	max-width: 77rem;
	max-height: 40rem;
	margin: 0 auto;
	padding: 0 1 rem;
}
.header__logo {
	width: 7rem;
	height: 3rem;
	margin: 1rem 0 0 0;
}
.header__container {
	display: flex;
	gap: 10rem;
	align-items: center;
}
.header__menu {
}
.menu__list {
	display: flex;
	gap: 56px;
}
.menu__item {
}
.menu_link {
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--black);
}
.leftSidebar {
	font-weight: 700;
	font-size: 4rem;
	line-height: 150%;
}
.text1 {
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.5rem;
}
.button {
	width: 19rem;
	height: 4rem;
	background-color: var(--red);
	border-color: var(--red);
	box-shadow: 1rem 1rem 0px 0px var(--black);
}
.button:hover {
	background-color: var(--orange2);
}
.text {
	color: var(--white);
	font-weight: 600;
	font-size: 1.5rem;
}
.banner__pluses {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	margin: 4rem 0 0 0;
}
.text2 {
	margin: 0 2rem 0 4rem;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.1rem;
}
.banner_image {
	max-width: 35rem;
}
